<h1 class="inventory-heading">Create New Recipe Food</h1>

<%= form_with url: recipe_recipe_food_index_path, class: 'inventory-form' do |form| %>
  <%= form.label :quanity, "Quantity" %>
  <%= form.number_field :quanity %>
  <%= form.select(:food_id, @foods_available.map {|food| [food.name, food.id]}, class: 'select-food-input' ) %>
  <%= form.submit %>
<% end %>